<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="DatabaseName" value="ir.s3db" />
        <add key="CloudIP" value="112.51.3.158" />
        <add key="CloudPort" value="1883" />
        <add key="CloudRtmpPort" value="1935" />
        <add key="DiscoveryPort" value="10086" />
        <add key="ModemName" value="HUAWEI Mobile Connect" />
        <add key="BaudRate" value="9600" />
        <add key="IsModemSend" value="False" />
    </appSettings>
</configuration>