<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="DatabaseName" value="ir.s3db" />
        <add key="CloudIP" value="ircloud.fuguang.com" />
        <add key="CloudPort" value="20545" />
        <add key="DiscoveryPort" value="10086" />
        <add key="ModemName" value="HUAWEI Mobile Connect" />
        <add key="BaudRate" value="9600" />
        <add key="IsModemSend" value="False" />
    </appSettings>
</configuration>